<!DOCTYPE html>
<html lang="en">
  <%- include("layouts/header"); -%>

  <body>
    <%- include("layouts/navbar"); -%>
    <header
      class="masthead"
      style="background-image: url('assets/img/login_page.jpeg')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-6">
            <div class="card-body p-md-5 mx-md-4">
              <div class="text-center">
                <h4 class="mt-1 mb-5 pb-1 display-3 fw-bold">Sign Up</h4>
              </div>

              <form
                id="signupForm"
                action="/Signup"
                method="post"
                data-sb-form-api-token="API_TOKEN"
              >
                <div class="form-outline mb-4">
                  <label class="form-label" for="user">User ID</label>
                  <input
                    type="text"
                    id="user"
                    name="userId"
                    class="form-control"
                    placeholder="user ID"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="password">Password</label>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="******"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="re-password"
                    >re-enter Password</label
                  >
                  <input
                    type="password"
                    id="re-password"
                    name="re-password"
                    class="form-control"
                    placeholder="******"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="UserType">User Type</label>
                  <select class="form-select" id="userType" name="userType">
                    <option value="Driver">Driver</option>
                    <option value="Examiner">Examiner</option>
                    <option value="Admin">Admin</option>
                  </select>
                </div>

                <div class="text-center pt-1 mb-5 pb-1">
                    <button
                    class="btn btn-dark btn-lg text-uppercase"
                    id="submitButton"
                    type="submit"
                  >
                    SignUp
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <%- include("layouts/footer"); -%>
  </body>
</html>
